#etch {
	width: 500px;
	height: 500px;
	margin: auto;
	background-color: red;
	display: grid;
}
#buttonContainer {
	width: 100%;
	height: 10%;
	margin: auto;
	float: left;
}
#resetBtn {
	margin-left: 45%;
	display: block;
}
.squares {
	background-color: blue;
}
#etch div:hover {
	background-color: green;
}
.yellow {
	background-color: yellow;
}
